/*top navigation bar & color */
.topnav {
    background-color: var(--accent-color);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: var(--main-white);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: var(--grey-hover);
    color: var(--black);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: var(--main-color);
    color: var(--main-white);
  }
  
